:root {
  --primary-color: #ff42a5;
  --secondary-color: #4ec5f7;
  --header-size: 1.5rem;
  --font-color: #6d687b;
}
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.text-primary {
  color: var(--primary-color);
}
.text-gradient {
  background: -webkit-linear-gradient(#ff6ce4, #7d2ac0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-title {
  font-size: var(--header-size);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-title img {
  height: 30px;
  width: 70px;
}
nav h3 {
  margin-left: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar ul {
  display: flex;
  gap: 10px;
  margin: 0 15px;
}
nav .navbar ul li {
  list-style: none;
  color: var(--font-color);
  padding: 10px 20px;
  font-size: small;
}
nav .navbar ul li a {
  text-decoration: none;
  color: var(--font-color);
}
nav .navbar .box-nav {
  background-color: #e7e6e9;
}
nav .navbar .box-nav .fa-youtube {
  color: red;
}
nav .navbar .box-nav .fa-tiktok {
  color: darkmagenta;
}
.banner {
  background-color: #fbf7fd;
  padding: 70px 0;
}
.banner h1 {
  font-size: 2rem;
  font-weight: 600;
}
.banner .bigheading {
  font-size: 4rem;
  font-weight: 700;
}
.banner .banner-info ul {
  padding: 0;
  margin: 0 4px;
  margin-bottom: 30px;
}
.banner .banner-info ul li {
  list-style: none;
  margin: 10px 0;
  font-size: small;
  color: var(--font-color);
  transition: 0.3s ease-in-out;
}
.banner .banner-info ul li:hover {
  font-size: medium;
}
.btn-primary {
  background-color: var(--primary-color);
  padding: 15px 25px;
  font-size: small;
  font-weight: 600;
  color: white;
  border: 0px;
  border-radius: 50px;
}
.btn-secondary {
  background-color: var(--secondary-color);
  padding: 15px 20px;
  font-size: small;
  color: white;
  border: 0px;
  font-weight: 600;
  border-radius: 50px;
}
.banner .banner-image img {
  width: 100%;
}
.banner .container div {
  width: 100%;
}
.banner .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5em;
}

/* gamer section style 
 */
.gamer {
  background-color: #fff9fc;
}
.info {
  color: var(--font-color);
  font-size: small;
  line-height: 1.5em;
}
.gamer-title {
  font-size: 1.8rem;
}
.gamer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.gamer .container .gamer-image {
  width: 170%;
}
.gamer .container h3,
.gamer .container h4,
.gamer .container p {
  margin: 0;
}
.gamer .container .info {
  margin: 30px 0;
}
.gamer .container .gamer-image img {
  width: 100%;
}
.gamer .container .gamer-data {
  text-align: right;
}
.gamer .container .gamer-data .purpose,
.gamer .container .gamer-data .quote {
  color: var(--font-color);
  margin: 5px;
}
.gamer .container .gamer-data button {
  margin-bottom: 25px;
}
.gamer .container .gamer-data .quote {
  font-size: 1.2rem;
  margin: 0;
}
/* video section starts  */
.video-section {
  margin: 75px 0;
}
.video-section .gamer-title,
.video-section .info {
  text-align: center;
  margin: 10px 0;
}

.video-section .video .viedo-box .image img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.video-section .video {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
  margin: 40px 0;
}
.video-section .image {
  position: relative;
}
/* overlay section  */
.video-section .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background-color: black;
  cursor: pointer;
  border-radius: 10px;
}
.video-section .image .overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.video-section .image .overlay .icon {
  font-size: 3rem;
  color: whitesmoke;
}
.overlay p {
  margin: 4px;
}

.video-section .image:hover .overlay {
  opacity: 0.8;
}
.online .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.online .container div {
  width: 100%;
}
.online .container .online-image img {
  width: 100%;
}
.online .container .online-image .overdrive-image img {
  width: 40%;
  height: auto;
}
.online .container .online-image {
  position: relative;
}
.online .container .online-image .overdrive-image {
  position: absolute;
  top: 60%;
  left: 70%;
  z-index: 999;
}
/* career starr  */
.career {
  background-color: #ff42a5;
  margin-top: 70px;
  padding: 25px 0;
  color: aliceblue;
  font-size: small;
}
.text-white {
  color: aliceblue;
}
.career .career-image img {
  width: 100%;
}
.career .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.career .container .career-image,
.career .container .career-data {
  width: 100%;
}
.career .container .career-data .teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}
.btn-white {
  background-color: aliceblue;
  color: var(--primary-color);
  margin: 30px 0;
}

/* game category :start */
.category {
  color: var(--font-color);
  font-size: smaller;
  margin: 70px 0;
}
.category .game-category {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.category .gamy-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #bebebe;
  border-radius: 50px;
}
.category .gamy-type:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.category .gamy-type img {
  width: 50px;
}

@media screen and (max-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  nav .navbar ul li {
    padding: 10px 8px;
  }
  .video-section .container {
    width: 70%;
  }
  .video-section .video {
    grid-template-columns: repeat(2, 1fr);
  }
  .category .game-category {
    grid-template-columns: repeat(3, 0.5fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  nav {
    flex-direction: column;
  }
  nav .navbar ul {
    margin: 0 2px;
  }
  .banner .container {
    flex-direction: column;
  }
  .banner .container .banner-info {
    text-align: center;
  }
  .banner .banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner .banner-image img {
    width: 80%;
  }
  .gamer .container {
    flex-direction: column-reverse;
  }
  .gamer .container .gamer-image,
  .online .container .online-image {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gamer .container .gamer-image img,
  .online .container .online-image img {
    width: 90%;
  }
  .gamer .container .gamer-data {
    text-align: center;
  }
  .video-section .video {
    grid-template-columns: 1fr;
  }
  .online .container {
    flex-direction: column-reverse;
  }
  .online {
    text-align: center;
  }
  .online .container .online-image .overdrive-image {
    position: absolute;
    top: 62%;
    left: 28%;
    z-index: 999;
  }
  .career .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .career .container .career-data {
    text-align: center;
  }
  .category .game-category {
    grid-template-columns: repeat(2, 0.5fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 375px) {
  nav .navbar ul li {
    padding: 2px;
  }
}
